.black-tile {
    width: 50px;
    height: 50px;
    fill: #739552;
}

.white-tile {
    width: 50px;
    height: 50px;
    fill: #EBECD0;
}

body {
    background-color: #1b1b1b;
}

.piece {
    width: 45px;
    height: 45px;
}